<div class="twelve columns weeks">
    <div class="row">
      <h2>{{week}}</h2>
        <div class="six columns">
            <div class="row">
                <h4>Mandatory expenses:</h4>
                <ul>
                    {{#each mandatoryExpenses}}
                        <li class="redExpenses">
                            {{@key}} : - R{{this}}
                        </li>
                    {{/each}}
                </ul>
                <h4>Groceries:</h4>
            </div>

        </div>

    </div>


    <form method="post" action="">
    <div class="twelve columns">
        <div class="row">
            {{#each weekOptions1}}
                <div class="six columns boxes">
                    {{productName}}, R{{price}}
                    <input class="checkboxes"type="checkbox" value="{{price}}" name="weekCheckbox">
                </div>
            {{/each}}
        </div>
        <div class="row">
            {{#each weekOptions2}}
                <div class="six columns boxes">
                    {{productName}}, R{{price}}
                    <input class="checkboxes"type="checkbox" value="{{price}}" name="weekCheckbox">
                </div>
            {{/each}}
        </div>
    </div>
    <br><br><br>
    <div class="twelve columns">
        <div class="row">
            <div class="six columns">
                Amount remaining: <br>
                <div class="budgetRemaining">
                    R {{currentBudget}}
                </div>
            </div>
            <div class="six columns">
                    <input type="submit" name="submitButton" value="Submit options" class="submitButton" style="background: rgba(255, 255, 255, 0.5); color: black">
                </form>
            </div>
        </div>



    </div>
</div>
